
apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
{%- raw %}
  mapRoles: |
{% endraw %}
    - rolearn: {{ eks_iam_role_arn_worker }}
      username: system:node:{% raw %}{{EC2PrivateDNSName}}{% endraw %}

      groups:
        - system:bootstrappers
        - system:nodes

{% if eks_arn_groups is defined %}
{% for role in eks_arn_groups %}
    - rolearn: {{ role.rolearn }}
      username: {{ role.username }}
      groups:
        - {{ role.groups }}
{% endfor %}
{% endif %}

{% if eks_iam_users is defined %}
  mapUsers: |
{% for user in eks_iam_users %}
    - userarn: arn:aws:iam::{{ eks_aws_account_id }}:user/{{ user }}
      username: {{ user }}
      groups:
        - system:masters
{% endfor %}
{% endif %}