apiVersion: v1
data:
  mapRoles: |
    - rolearn: {{ eks_iam_role_arn_worker }}
      username: system:node: {{'{{'}}EC2PrivateDNSName{{'}}'}}
      groups:
       - system:bootstrappers
       - system:nodes
  mapUsers: |
{% if eks_iam_users is defined %}
{% for user in eks_iam_users %}
    - userarn: arn:aws:iam::{{ eks_aws_account_id }}:user/{{ user }}
      username: {{ user }}
      groups:
        - system:masters
{% endfor %}
{% endif %}
{% raw %}
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
{% endraw %}
